.video p {
  margin: 4px 0;
}

.video__img,
.videor__img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.video__img:hover,
.videor__img {
  opacity: 0.9;
  border-radius: 0px;
  transform: scale(1.05);
}

.video__title {
  font-size: 1em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.video__title:hover {
  color: gray;
}

.video__channel,
.video__publish {
  color: rgb(161, 159, 159);
  font-weight: 400;
}

.videor {
  display: flex;
  margin: 20px 10px;
  cursor: pointer;
}

.videor__img {
  width: 40%;
}

.videor__info {
  width: 50%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.videor__title {
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.videor__channel,
.videor__publish {
  opacity: 0.8;
  font-weight: 600;
}

.videor__info > * {
  margin: 5px 10px;
}
