.video__detail {
  display: flex;
  width: 100%;
}

.video__detail--video {
  width: 69%;
}

.video__detail--title {
  font-family: "yeogi";
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  margin: 0px 10px;
}

.video__detail--descWrap {
  display: flex;
  flex-direction: column-reverse;
  background-color: gray;
  font-weight: 500;
  margin: 10px 10px 0px;
  border-radius: 5px;
  padding: 5px 15px;
  white-space: pre-line;
}

.video__detail--descBtn {
  margin: 10px 0px;
  text-decoration: underline;
  cursor: pointer;
}

.video__detail--descBtn:hover {
  color: rgb(96, 95, 95);
}

.video__detail--desc.overview {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}

.video__detail--list {
  width: 30%;
  margin: 0;
}

.yVideo {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  margin: 0px 10px;
  border-radius: 5px;
}

.yVideo iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

@media screen and (max-width: 900px) {
  .video__detail {
    flex-direction: column;
  }
  .video__detail--video {
    width: 100%;
  }

  .video__detail--list {
    width: 100%;
  }
}
