.videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.videos.related {
  display: none;
}

.videos__col {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1920px) {
  .videos {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
