.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  font-size: 2em;
  font-weight: bold;
  height: 7vh;
}

.icons {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-family: "yeogi";
}

.icons > svg {
  color: red;
  font-size: 1.5em;
  margin-right: 5px;
}

.header__search {
  display: flex;
  width: 30%;
  border: 2px solid gray;
  border-radius: 5px;
  align-items: center;
}

.header__search--input {
  width: 85%;
  height: 30px;
  border: none;
  border-right: 1px solid gray;
  background-color: #1d1d1d;
  padding-left: 20px;
  color: white;
  font-weight: 700;
}

.header__search--input::placeholder {
  color: gray;
  font-weight: bold;
}

.header__search--btn {
  width: 30px;
  height: 30px;
  margin: auto;
}

.header__search--btn:hover {
  color: gray;
}

.header__user--btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
