@font-face {
  font-family: "yeogi";
  src: url("./fonts/Jalnan.ttf");
}

::-webkit-scrollbar {
  width: 5px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100vw;
  background-color: black;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  display: flex;
}
